html, body{
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input{
  background: #e3cdb3;
}

input:focus::placeholder {
  color: transparent;
  }

a:hover, a:visited, a:link, a:active {
    text-decoration: none !important;
    color: #e3cdb3;
}

.navbar, .footer {
    background: #291b0a;
    color: #e3cdb3;
    height: 100px;
    flex-shrink: 0;
}

.navbar {
    margin-bottom: auto;
    width: 100%;
    font-size: 30px;
}

.footer {
    margin-top: auto;
    font-size: 20px;
}

.content {
    height: 100vh;
    display: flex;
}

.library {
    display: flex;
    align-content: flex-start;
    background: #8e7b6b;
    gap: 15px;
    padding: 30px;
    flex-wrap: wrap;
    width: 100%;
    overflow: auto;
    align-content: flex-start;
}

.book {
    position: relative;
    background: #291b0a;
    color: #e3cdb3;
    border-style: solid;
    flex: 0 1 0;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    min-height: 400px;
    min-width: 300px;
    padding: 15px;
}


.title, .author, .pages, .book {
    border-style: solid;
    border-width: 1px;
    text-align: center;
    padding: 20px;
    font-size: 22px;
    font-weight: 600;
}

.readText {
  margin-top: 30px;
  margin-bottom: 30px;
}

.navbar, .footer {
    display: flex;
    align-items: center;
    justify-content: center;  
}

.new, .button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.new {
  font-size: 72px;
}

.button, .add {
    cursor: pointer;
}

.remove, .submit {
	position: absolute;
  top: -9px;
  right: -9px;
	width: 23px;
	height: 23px;
	border: 2px solid #e3cdb3;
	background-color: #291b0a;
	border-radius: 50%;
  color: #e3cdb3;
	}

.remove:hover, .submit:hover { cursor: pointer; }
.remove:hover::before, .remove:hover::after, .submit:hover::before, .submit:hover::after { display: block; }