html, body{
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar, .footer {
    background: black;
    color: white;
    height: 100px;
    flex-shrink: 0;
}

.navbar {
    margin-bottom: auto;
    width: 100%;
}

.footer {
    margin-top: auto;
}

.content {
    height: 100vh;
    display: flex;
}

.library {
    display: flex;
    align-content: flex-start;
    background: grey;
    gap: 15px;
    padding: 30px;
    flex-wrap: wrap;
    width: 100%;
    overflow: auto;
    align-content: flex-start;
}

.book {
    background: white;
    border-style: solid;
    flex: 0 1 0;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    min-height: 400px;
    min-width: 300px;
    padding: 15px;
}

.new {

}

.title, .author, .pages, .read, .book {
    border-style: solid;
    border-width: 1px;
    text-align: center;
    padding: 20px;
}

.navbar, .footer {
    display: flex;
    align-items: center;
    justify-content: center;  
}